.xv-outline {
	position: absolute;
	top:37px;
	bottom:0;
	width:300px;
	right:0;
	overflow: auto;
	padding-right:10px;
	font-family:'Lucida Grande', arial, sans-serif;
	background: #f5f5f5;
	font-size:11px;
	border-left:1px solid #b4b4b4;
	box-sizing:border-box;
}
	
.xv-outline-wrap {
	position:relative;
	min-height:100%;
}
	
.xv-outline-header {
	font-weight:bold;
	text-transform:uppercase;
	color:#b3b3b3;
	text-shadow:0 1px 0 #fff;
	padding:10px 15px 0 15px;
}
	
.xv-outline-close {
	position:absolute;
	width:1.2em;
	height:1.2em;
	line-height:1;
	color:#b3b3b3;
	border:1px solid #e4e4e4;
	cursor:pointer;
	right:10px;
	top:9px;
	text-align:center;
	border-radius: 2px;
}
	
.xv-outline-close:hover {
	border-color:#b3b3b3;
}
	
.xv-outline-inner {
	position: relative;
	padding:10px 0;
	z-index: 1;
}
	
.xv-outline-node {
	font-family: inherit;
	font-size: 11px;
	line-height: 16px;
	display: block;
	margin: 3px 0 0 0;
	padding: 0 0 0 15px;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	position: static;
}

.xv-outline-item {
	position: relative;
	display: inline-block;
	margin: 1px 8px 2px 10px;
	padding: 0 1px 0 2px;
}

.xv-outline-item:before {
	display: inline-block;
	content: '';
	position: absolute;
	top: -1px;
	left: -10px;
	right: -5px;
	bottom: -2px;
	border-width: 1px 5px 2px 10px;
	border-style: solid;
	box-sizing: border-box;
}
	
.xv-outline-tag-name {
	color: #005082;
	text-shadow: 0px 1px 0 rgba(255,255,255,0.6);
	background: linear-gradient(#DEE9F4, #CFDDF0);
}

.xv-outline-tag-name:before {
	border-image: url('./images/outline-elem.svg') 1 5 2 10 stretch stretch;
}

.xv-outline-pi-name {
	color:#40368f;
	text-shadow: 0px 1px 0 rgba(255,255,255,0.6);
	background: linear-gradient(#E1DCF4, #D8CFEE);
}

.xv-outline-pi-name:before {
	border-image: url('./images/outline-pi.svg') 1 5 2 10 stretch stretch;
}

.xv-outline-cdata-name {
	color:#105913;
	text-shadow: 0px 1px 0 rgba(255,255,255,0.6);
	background: linear-gradient(#D1EDCE, #B8D4B5);
}

.xv-outline-cdata-name:before {
	border-image: url('./images/outline-cdata.svg') 1 5 2 10 stretch stretch;
}

.xv-outline-comment {
	padding: 2px 0 2px 15px;
	color:#666;
}

.xv-outline-comment > .xv-outline-node-inner::before {
	content: url('./images/comment.svg');
	display: inline-block;
	width: 17px;
	height: 14px;
	vertical-align: middle;
	position: relative;
	top: 1px;
	margin-right: 3px;
}

.xv-outline-small .xv-outline-node {
	font-size: 9px;
	line-height: 12px;
}

.xv-outline-small .xv-outline-tag-name,
.xv-outline-small .xv-outline-pi-name {
	border-left-width:7px;
}

.xv-outline-small .xv-outline-comment {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAH9JREFUeNpinDlzpj0DA0MXEJsx4AangLiMBUisAGIJBvwAZNAKJiIUwoAEEwMJgGTFT4lU+xSkOAWIXxBQCJJPASneAcSSQMwCFfwFxK1AzAvEjFAMkt/B+P//f4ZZs2aBdNsAcREoPIH4DszItLQ0uPEsSFZdAOIgfG4BCDAA+EgXjMIYFx8AAAAASUVORK5CYII=) 0 3px no-repeat;
	padding-left: 14px;
}

.xv-outline-node .xv-tag-switcher {
	margin-left:-1em;
	visibility:visible;
	color:#8c97a4;
}

.xv-outline-node .xv-tag-switcher:before {
	font-size: 9px;
}

.xv-outline-node-empty .xv-tag-switcher {
	display: none;
}

.xv-collapsed .xv-outline-tag-children {
	display: none;
}

.xv-outline-node-inner {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.xv-outline-rs-handler {
	position: absolute;
	top:0;
	bottom:0;
	left:-1px;
	width:7px;
	cursor: col-resize;
	z-index:10;
}

.xv-outline-node-selected > .xv-outline-node-inner {
	color: #fff !important;
	font-weight: bold;
	text-shadow: 0 1px #6b757f;
}
	
.xv-outline-node-selected:before {
	position: absolute;
	left:0;
	width:100%;
	height: 20px;
	overflow:hidden;
	content: '';
	display: block;
	padding-right:10px;
	z-index: -1;
	margin-top:-2px;
	border-top:1px solid #a5b3bd;
	border-bottom:1px solid #909faf;
	background-image: linear-gradient(#b8c4cf, #93a1b1);
	background-color:#b8c4cf;
}

.xv-outline-node-selected > .xv-outline-node-inner > .xv-outline-tag-name,
.xv-outline-node-selected > .xv-outline-node-inner > .xv-outline-pi-name,
.xv-outline-node-selected > .xv-outline-node-inner > .xv-outline-cdata-name {
	color: #fff;
	text-shadow: 0 1px #6b757f;
	background: linear-gradient(#BDC6CF, #A1AEBA);
}

.xv-outline-node-selected > .xv-outline-node-inner > .xv-outline-tag-name:before,
.xv-outline-node-selected > .xv-outline-node-inner > .xv-outline-pi-name:before,
.xv-outline-node-selected > .xv-outline-node-inner > .xv-outline-cdata-name:before {
	border-image: url('./images/outline-sel.svg') 2 5 3 10 stretch stretch;
	border-top-width: 2px;
	border-bottom-width: 3px;
	top: -2px;
	bottom: -3px;
}


.xv-outline-collapsed {
	width:2em;
	cursor:pointer;
	overflow:hidden;
}

.xv-outline-collapsed .xv-outline-header {
	transform-origin:bottom left;
	transform:rotate(90deg) translateX(-25px) translateY(-4px);
}

.xv-outline-collapsed .xv-outline-close,
.xv-outline-collapsed .xv-outline-rs-handler,
.xv-outline-collapsed .xv-outline-inner {
	display:none;
}
