.xv-search-panel {
	position: absolute;
	left:0;
	right:0;
	padding: 8px 10px;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #a3a3a3;
	background-image: linear-gradient(#e5e5e5, #d6d6d6) !important;
	background-color: #e5e5e5;
	font-size:11px;
	height:37px;
	z-index: 2;
	box-sizing:border-box;
	display: flex;
}

.xv-search-field {
	width:100%;
	/* margin-right:1em; */
	flex: 1 1;
	display: block;
}

.xv-search-panel .xv-search-result {
	left:10px;
	top:40px;
}

.xv-search-xpath-result {
	color:#555;
	text-shadow:0 1px 0 #fff;
	font-weight:bold;
}

.xv-search-xpath-result:before {
	font-weight:normal;
	content:'XPath result: ';
}
