.xv-search-panel {
	position: absolute;
	left:0;
	right:0;
	padding: 8px 10px;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #a3a3a3;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#d6d6d6)) !important;
	background-image: -moz-linear-gradient(top left, #e5e5e5, #d6d6d6) !important;
	background-color: #e5e5e5;
	font-size:11px;
	height:37px;
	z-index: 2;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

.xv-search-field {
	width:70%;
	max-width:60em;
	margin-right:1em;
}

.xv-search-panel .xv-search-result {
	left:10px;
	top:40px;
}

.xv-search-xpath-result {
	color:#555;
	text-shadow:0 1px 0 #fff;
	font-weight:bold;
}

.xv-search-xpath-result:before {
	font-weight:normal;
	content:'XPath result: ';
}