.xv-search-result {
	position:absolute;
	background:#fff;
	background:rgba(255,255,255,0.85);
	z-index:10;
	padding:2px;
	border:1px solid #d2d2d2;
	zoom:1;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 2px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 2px rgba(0,0,0,0.1);
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	
	
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
}

.xv-search-result-content {
	position:relative;
	overflow:auto;
	overflow-x:hidden;
	zoom:1;
	min-width:100px;
	display: block;
	list-style: none;
}

/* Content assist popup has scollable content */
.xv-search-result-overflow .xv-search-result-content {
	padding-right:2px;
}

.xv-search-result-item {
	color:#242423;
	font-family:'Lucida Grande', arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:20px; /* Set line-height in pixels for better look in Firefox */
	padding:0 4px 1px 4px;
	cursor:pointer;
	overflow:hidden;
	position:relative;
	white-space: nowrap;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-border-top-left-radius:0;
	-moz-border-radius-topleft:0;
	border-top-left-radius:0;
}

.xv-search-result-item em {
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
}

.xv-search-result-item-selected {
	background:#7a8da1;
	background:-webkit-gradient(linear, left top, left bottom, from(#7a8da1), to(#455d75));
	background-image:-moz-linear-gradient(top,#7a8da1,#455d75);
	color:#fff;
	text-shadow:0 1px 0 rgba(0,0,0,0.7);
}

.xv-search-result-xpath {
	color: #ccc;
	margin-left:10px;
	font-weight: normal;
	display: inline-block;
	max-width: 40em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/** neat scrollbars for Webkit */
.xv-search-result-content::-webkit-scrollbar {
	width:9px;
	height:9px;
}

.xv-search-result-content::-webkit-scrollbar-track {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHCAIAAABPxRC5AAAAPElEQVQImVWLwRGAMBCElou5/vuLtQQfPoz8GAbutWb3Ncacs7tLTaJSpVaSJIB7AwXkoE5Rv//X3wt4ACQ3F9lopNWrAAAAAElFTkSuQmCC) transparent 50% 0 repeat-y;
	-webkit-border-radius:5px;
}

.xv-search-result-content::-webkit-scrollbar-thumb {
	-webkit-border-radius:4px;
	background:#c5c5c4;
	background: -webkit-gradient(linear, left top, right top, from(#f9f9f9), to(#e6e6e6));
	border:1px solid #d3d2d2;
	left:0;
	position:absolute;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
}